.profile {
    margin: 75px auto 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;


    h1 {
        text-align: center;
        font-size: large;
        font-weight: bold;;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    button {
        border: 1px solid lightgrey;
        margin-top: 15px;
        height: 35px;
        border-radius: 50px;
        background-color: lighten(#3F51B5, 10%);
        color: white;
    }

    .text-field {
        margin-bottom: 10px;
    }
}

.profile-header {
    font-size: 1.5rem
}