.marketing-container{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width:100%;
  .container{
    margin-top: 5%;
    background-image: url('/marketing-image.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 500px;
    width: 90%;
    // border: red 1px solid
  }
}
