  .container{
    background-image: url('/CB.jpeg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border: 1px solid lightgrey;
    height: 300px;
    width: 90%;
    border-radius: 50px;

    h3 {
      padding-top: 300px;
      font-weight: 200;
    }
  }